defaults
	mode http
	timeout connect 10s
	timeout client 30s
	timeout server 30s

frontend stats
	bind *:8404
	stats enable
	stats uri /stats
	stats refresh 2s
	stats admin if TRUE

frontend website
	bind :80
	mode tcp
	default_backend servers

backend servers
	balance roundrobin
	mode tcp
	server app1 spring-app-1:8443 check maxconn 30
	server app2 spring-app-2:8443 check maxconn 30